<header class="header flex w-full">
    <div class="container layout mx-auto tablet:items-center">
        <div class="logo col-span-4 laptop:col-span-2 tablet:col-span-3 mobile:col-span-2">
            <a href="/" class="block logo__img">
                <img src="/img/svg/logo.svg" width="250" height="112" alt="Логотип Wirksam">
            </a>
            <span class="text-xs/[1.4em] block pt-[2.625rem] logo__text laptop:hidden">
                Производитель запасных частей для <span class="text-red">трансмиссии, сцеплений и моторной группы</span>
                для
                грузового транспорта
            </span>
        </div>
        <nav class="nav col-span-8 laptop:col-span-10 tablet:col-span-9 justify-self-end mobile:col-span-2">
            <div class="flex gap-[2.625rem] items-center nav--top tablet:hidden">
                <ul class="flex gap-7 items-center nav--top__list">
                    <li><a href="/">О компании</a></li>
                    <li><a href="/">Партнерам</a></li>
                    <li><a href="/">Новости</a></li>
                    <li><a href="/">Контакты</a></li>
                    <li class="outsider"><a href="tel:+74997531418"
                            class="text-red transition-opacity hover:opacity-40">+7
                            499 753 14 18</a></li>
                    <li class="outsider"><a href="mailto:info@wirksam.ru"
                            class="opacity-40 transition-opacity hover:opacity-100">info@wirksam.ru</a></li>
                </ul>
                <a href="mailto:info@wirksam.ru" class="btn btn-primary">ОБРАТНАЯ СВЯЗЬ</a>
            </div>
            <div class="nav--bot flex gap-[1.875em]">
                <ul class="flex items-center gap-[1.875em] nav--bot__list mobile:hidden">
                    <li>
                        <a href="/">ТРАНСМИССИИ</a>
                    </li>
                    <li>
                        <a href="/">СЦЕПЛЕНИЯ</a>
                    </li>
                    <li>
                        <a href="/">ДВИГАТЕЛЬ</a>
                    </li>
                </ul>
                <div class="flex ml-auto">
                    <a href="/" class="header__chat ml-auto">
                        <svg width="24" height="24" class="w-[1.5rem] h-auto" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20 6.75C21.5188 6.75 22.75 5.51878 22.75 4C22.75 2.48122 21.5188 1.25 20 1.25C18.4812 1.25 17.25 2.48122 17.25 4C17.25 5.51878 18.4812 6.75 20 6.75Z"
                                fill="#AF1917" />
                            <path
                                d="M19.04 8.15C17.47 7.81 16.19 6.53 15.85 4.96C15.72 4.35 15.71 3.76 15.82 3.2C15.95 2.58 15.49 2 14.85 2H7C4.24 2 2 4.24 2 7V13.95C2 16.71 4.24 18.95 7 18.95H8.5C8.78 18.95 9.14 19.13 9.3 19.35L10.8 21.34C11.46 22.22 12.54 22.22 13.2 21.34L14.7 19.35C14.89 19.1 15.18 18.95 15.5 18.95H17.01C19.77 18.95 22 16.72 22 13.96V9.15C22 8.52 21.42 8.06 20.8 8.18C20.24 8.28 19.65 8.28 19.04 8.15ZM8 12C7.44 12 7 11.55 7 11C7 10.45 7.44 10 8 10C8.55 10 9 10.45 9 11C9 11.55 8.56 12 8 12ZM12 12C11.44 12 11 11.55 11 11C11 10.45 11.44 10 12 10C12.55 10 13 10.45 13 11C13 11.55 12.56 12 12 12ZM16 12C15.44 12 15 11.55 15 11C15 10.45 15.44 10 16 10C16.55 10 17 10.45 17 11C17 11.55 16.56 12 16 12Z"
                                fill="#AF1917" />
                        </svg>
                    </a>
                    <a href="/" class="burger ">
                        <svg width="24" height="18" class="w-[1.5rem] h-auto" viewBox="0 0 24 18" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect width="24" height="3" rx="1.5" fill="#AF1917" />
                            <rect y="7.28564" width="24" height="3" rx="1.5" fill="#AF1917" />
                            <rect y="15" width="24" height="3" rx="1.5" fill="#AF1917" />
                        </svg>
                    </a>
                </div>
            </div>
        </nav>
    </div>

</header>


<!-- TODO -->
<!-- MOBILE MENU -->