@layer components {

    // TODO
    // ANIMATIONS
    .btn {
        @apply block uppercase font-primary font-medium text-center transition-all;
    }

    .btn-primary {
        @apply bg-black text-white;
        font-size: 0.875rem;
        padding: 1.428571428571429em 1.571428571428571em;
        border-radius: 0.3571428571428571em;
        min-width: 14.07142857142857em;
        font-weight: 500;
        line-height: 0.7142857142857143em;
        letter-spacing: 0.14em;
    }

    .btn-secondary {
        @apply bg-red text-white rounded-full font-bold uppercase py-6 px-[1.875rem] flex items-center gap-5 w-fit;
        font-size: 0.8125rem;
        line-height: 1em;
        letter-spacing: 0.15em;
    }


    .btn-small {
        padding: 1.142857142857143em 1.928571428571429em;
    }

    .btn-normal {
        padding: 1.428571428571429em 1.571428571428571em;
    }

    .btn-big {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .btn-white {
        @apply bg-white text-red;
    }

    .btn-gray {
        @apply bg-[#E6E6E6] text-black;
    }


    .btn-disabled {
        @apply cursor-default opacity-30;
    }

}

@layer components {
    .btn-slider {
        @apply rounded-full flex items-center justify-center gap-5 cursor-pointer arrow-svg;



        &.prev {
            &::after {
                transform: scale(-1);
            }
        }

        &.swiper-button-disabled {
            opacity: 0.2;
            cursor: default;
        }
    }

    .btn-slider-small {
        width: 3rem;
        height: 3rem;
    }

    .btn-slider-normal {
        width: 4rem;
        height: 4rem;
    }

    .btn-slider-big {
        width: 4.6875rem;
        height: 4.6875rem;
    }

    .btn-slider-grey {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .btn-slider-red {
        @apply bg-red;
    }

    .btn-slider-white {
        @apply bg-white;
    }
}