:root {
  --header: 9.1875rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @apply font-secondary;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*,
html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  font-variant-ligatures: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility !important;
  font-stretch: normal;
  font-optical-sizing: auto;
}

html.something-opened {
  overflow: hidden;
}

// POTENTIAL

.page {
  @apply bg-grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  z-index: 200;
  padding-top: var(--header);
}


.h-fill {
  height: 100%;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}


.section {
  @apply mb-[7.5rem] tablet:mb-20 mobile:mb-10;
}

.heading2 {
  @apply font-primary;
  font-weight: 500;
  font-size: 56px;
  line-height: 120%;

  @screen tablet {
    @apply text-4xl;
  }

  @screen mobile {
    @apply text-2xl;
  }
}