@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .container {
    max-width: 105rem;

    @screen laptop {
      @apply px-6;
    }

    @screen mobile {
      @apply px-3;
    }

  }


  .layout {
    @apply grid grid-cols-12 gap-5;

    @screen mobile {
      @apply grid-cols-4;
    }
  }


  .underline {
    text-decoration-skip-ink: none;
  }
}


input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

textarea {
  resize: none;
}

@import "base/*.scss";
@import "global/*.scss";
@import "**/_*.scss";
@import "../components/**/*.scss";